.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.recom-effect {
    transform: scale(1.1);
}

.section {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(54, 54, 54);
}



.myNavBar {
    background-image: linear-gradient(90deg, #ee5e93, #252525)!important;
}


/* General Styles - start */

body {
    background-color: #070707;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    color: white;
}


 .section {
    padding-top: 100px;
}

.sectionTitle {
    text-align: center;
    font-family: "Pacifico", cursive;
    justify-content: center;
}

.logo_img {
    width: 100px;
}

a.aTag {
    position: relative;
    text-decoration: none;
}

a.aTag:hover {
    color: #e22b6f;
}

a.aTag:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #e22b6f;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a.aTag:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.md-form label {
    font-family: montserrat, sans-serif;
    color: #ffffff;
}

.md-form input:not([type]):focus:not([readonly]),
.md-form input[type="text"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="password"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="email"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="url"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="time"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="date"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="datetime"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="tel"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="number"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="search"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="phone"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="search-md"]:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #e22b6f;
    box-shadow: 0 1px 0 0 #e22b6f;
}

.md-form input:not([type]):focus:not([readonly])+label,
.md-form input[type="text"]:not(.browser-default):focus:not([readonly])+label,
.md-form input[type="password"]:not(.browser-default):focus:not([readonly])+label,
.md-form input[type="email"]:not(.browser-default):focus:not([readonly])+label,
.md-form input[type="url"]:not(.browser-default):focus:not([readonly])+label,
.md-form input[type="time"]:not(.browser-default):focus:not([readonly])+label,
.md-form input[type="date"]:not(.browser-default):focus:not([readonly])+label,
.md-form input[type="datetime"]:not(.browser-default):focus:not([readonly])+label,
.md-form input[type="datetime-local"]:not(.browser-default):focus:not([readonly])+label,
.md-form input[type="tel"]:not(.browser-default):focus:not([readonly])+label,
.md-form input[type="number"]:not(.browser-default):focus:not([readonly])+label,
.md-form input[type="search"]:not(.browser-default):focus:not([readonly])+label,
.md-form input[type="phone"]:not(.browser-default):focus:not([readonly])+label,
.md-form input[type="search-md"]:focus:not([readonly])+label,
.md-form textarea.md-textarea:focus:not([readonly])+label {
    color: #e22b6f;
}

.md-form input:not([type]),
.md-form input[type="text"]:not(.browser-default),
.md-form input[type="password"]:not(.browser-default),
.md-form input[type="email"]:not(.browser-default),
.md-form input[type="url"]:not(.browser-default),
.md-form input[type="time"]:not(.browser-default),
.md-form input[type="date"]:not(.browser-default),
.md-form input[type="datetime"]:not(.browser-default),
.md-form input[type="datetime-local"]:not(.browser-default),
.md-form input[type="tel"]:not(.browser-default),
.md-form input[type="number"]:not(.browser-default),
.md-form input[type="search"]:not(.browser-default),
.md-form input[type="phone"]:not(.browser-default),
.md-form input[type="search-md"],
.md-form textarea.md-textarea {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.marginTop {
    margin-top: 75px;
}

/* General Styles - end */


/* Welcome section - start */

#welcome {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(26, 26, 26);
    background-image: url("./images/blackBackMona2.jpg");
    background-position: right center;
    background-size: cover;
}

.overlay {
    background-position: right center;
    background-size: cover;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    width: 100%;
    min-height: 100vh;
    position: absolute;
    z-index: 3;
    display: none;
    transition: all 1000ms;
}

.welcome-h1 {
    font-family: "Pacifico", cursive;
    font-weight: 600;
    font-size: 55px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.name-h2 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    line-height: 2;
    font-size: 38px;
}

.pro-h3 {
    font-family: "Pacifico", cursive;
    line-height: 2;
    font-size: 30px;
}

.z5 {
    z-index: 5;
    position: relative;
}

.titlesBack {
    background-color: rgba(0, 0, 0, 0);
    padding: 2%;
    border: solid 0px white;
    z-index: 5;
    position: relative;
}

.distinct-color {
    color: #e22b6f;
}

 /* About Me  */

 #aboutMeSection {
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.aboutMeOverlay {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
}

.segmentTitle {
    color: #ffffff;
    font-family: "Pacifico", cursive;
    line-height: 2;
    text-align: center;
    cursor: pointer;
    transition: all 500ms;
}

.activeSegmentTitle {
    color: #e22b6f;
    border-bottom: solid 1px #e22b6f;
    border-radius: 5px;
    padding: 1%;
}

.descriptionP {
    width: 80%;
    margin-left: 10%;
    text-align: justify;
    font-family: montserrat, sans-serif;
}

p.eventDate {
    text-align: center;
    color: #e22a6b;
    font-family: "Pacifico", cursive;
}


/* About Me */